html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
}

/* HEADER */
.logo_header {
  padding: 0.66rem 0;
  background-color: black;
  display: flex;
  align-items: center;
}

.logo_header img {
  height: 1.5rem;
  margin: 0 0.5rem;
}

.logo_header p {
    font-size: 1rem;
    color: white;
    padding: 0.66rem;
    margin-left: 0.5rem;
}



 {

}
