html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* HEADER */
.logo_header {
  background-color: black;
  color: white;
}

.logo_header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.logo_header img {
  height: 1.5rem;
  padding-right: 1rem;
}

.logo_header p {
  font-size: 1rem;
  color: white;

}

/* HEADER BANNER*/
.banner {
  background-image: url("../images/moto.jpg");
  height: 25rem;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner_box {
  width: 20rem;
  background-color: black;
  top: 9rem;
  padding: 2rem 3rem;
  position: relative;
}

.banner_box p {
  font-size: 1rem;
  color: white;
  margin-bottom: .25rem 0;

}

.banner_box h1 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  line-height: 1.2;
}

@media only screen and (max-width: 470px){
  .banner {
    height: 15rem;
  }
  .banner_box {
    width: 100%;
    padding: 1rem 2rem;
  }
  .banner_box h1 {
    font-size: 1rem;
  }
  .banner_box p {
    font-size: 0.77rem;
  }

  }


/* NAVIGATION BAR -- Need to fix horizontal spacing of nav items */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.tablet_nav {
  display: none;
}


@media only screen and (max-width: 1024px) {
  nav ul{
    display: none;
    }

  .tablet_nav {
      display: block;
      text-align: center;
    }
}

/* MAIN CONTENT ITEMS */


.items {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 30%;
  border: solid 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.item img {
  height: 9rem;
  max-width: 8rem;
  padding: 2rem 4rem;
}

.item p {
  display: block;
  background-color: black;
  color: white;
  height: 2rem;
  text-align: center;
  padding: 1rem 0 0.5rem 0;

}

@media only screen and (max-width: 1024px) {
  .item {
    width: 47%;
    margin: 0 auto;
    }

#Glasses-box {
    display: none;
    }

  .item p {
    justify-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .item {
    width: 90%
  }
  #Watch-box {
    display: none;
  }
}

/* LOCATION & HOURS */
.contact_info .container {
  display: flex;
  justify-content: space-between;
}

.heading {
  background-color: Black;
  color: white;
  padding: 1rem 2rem;
}
.Location, .Hours {
  width: 35%;
  display: block;

}

@media only screen and (max-width: 1024px) {
  .Location, .Hours {
    width: 35%;
    margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 470px) {
  .contact_info .container {
    display: block;
    flex-wrap: wrap;
  }
  .Location, .Hours {
    margin: 0.5rem auto;
    width: 90%;
  }
}
/* FOOTER */

footer {
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin-top: 4rem;

}

footer p {
  text-align: left;
  padding-top: 2rem;
}

@media only screen and (max-width: 470px) {
  footer p {
    text-align: center;
  }
}
